@font-face {
  font-family: font;
  src: url(../media/HARRYP__.TTF);
}

body {
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1 {
  font-family: "font";
  font-size: 5rem;
  position: absolute;
  color: white;
  text-shadow: 0 0 1rem black;
  animation: zoom 3s ease forwards;
  transform: perspective(1000px);
}

button{
  position: absolute;
  background-color: gray;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  z-index: 100;
  top: 0;
  right: 0;
}
 
audio + button i{
  color: white;
  font-size: 2rem;
}

video {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
}

.play{
  width: 100vw;
  height: 100vh;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personaje{
background-color: rgb(43, 226, 153);
width: 20%;
height: 20%;
align-self: flex-start;
margin-left: 10%;
}

.texto{
  background-color: rgb(216, 148, 60);
  width: 80%;
  height: 30%;

}


@keyframes zoom {
  from{
    transform: scale(0) rotateY(0);
  }
  to{
    transform: scale(2) rotateY(360deg);
  }
}