@font-face {
  font-family: font;
  src: url(../media/HARRYP__.TTF);
}

@font-face {
  font-family: font-feather;
  src: url(../media/Hamlet-Tertia18.otf);
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  font-family: font-feather;
  background-color: black;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

h1 {
  font-family: "font";
  font-size: 5rem;
  position: absolute;
  color: white;
  text-shadow: 0 0 1rem black;
  animation: zoom 3s ease forwards;
  transform: perspective(1000px);
}

header a{
  color: black;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8rem;
  transform: translateY(7rem);
  border: .2rem ridge var(--color5);
  background-color: var(--color3);
  border-radius: 1rem 0 1rem 0 / .5rem 0 .5rem 0;
  box-shadow: inset 0 0 .4rem var(--color4);
  padding: 1%;

}

button{
  position: absolute;
  background-color: var(--color5);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  border: .3rem ridge var(--color5);
  background-color: var(--color4);
  border-radius: 10%;
  box-shadow: inset 0 0 .4rem var(--color4), 0 0 .4rem var(--color1);
  z-index: 100;
  bottom: 0;
  right: 0;
}
 
audio + button i{
  color: var(--color5);
  font-size: 2rem;
}

video {
  object-fit: cover;
  object-position: center;
  width: 100vw;
  height: 100vh;
}

.play{
  width: 100vw;
  height: 100vh;
  background-image: url(../media/personajes/salon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.personaje{
background-image: url("../media/personajes/zyro-image.png");
width: 20%;
height: 20%;
align-self: flex-start;
margin-left: 10%;
}

@keyframes zoom {
  from{
    transform: scale(0) rotateY(0);
  }
  to{
    transform: scale(2) rotateY(360deg);
  }
}