:root {
  --color1: #e6c07f;
  --color2: #dab475;
  --color3: #b18743;
  --color4: #704218;
  --color5: #512c09;
}

.play{
  opacity: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../media/personajes/salon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease;
  z-index: 0;
}

.appear{
  opacity: 1;
}

.personaje{
  background-image: url("../media/personajes/zyro-image.png");
  width: 20%;
  height: 20%;
  align-self: flex-start;
  margin-left: 10%;
}

.pergamino {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(0%);
  overflow: hidden;
}

.rollo {
  position: relative;
  width: 8rem;
  height: 70%;
  background-color: blue;
  background: linear-gradient(90deg, 
    var(--color3) 0%,   /* desde el inicio (0%) */
    var(--color1) 30% 70%,  /* desde el 30% hasta el 70% */
    var(--color3)100%  /* desde el 70% hasta el final (100%) */
);
  background-size: 100% 100%;
  border-radius: 1rem 1rem 1rem 1rem / .3rem .3rem .3rem .3rem;
  transition: 2.8s linear;
  transform: translateX(-8%);
}

.rollo:first-child{
  transform: translateX(8%);
}

.rollo::before,.rollo::after {
  content: "";
  width: 50%;
  height: 10%;
  background-color: #704218;
  position: absolute;
  top: -10%;
  left: 25%;
  border-radius: 1rem 1rem 0 0 / .2rem .2rem 0 0;
  background: linear-gradient(90deg, 
  var(--color5) 0%,   
  var(--color4) 40% 60%,  
  var(--color5) 80% 100%  
);
}

.rollo::after {
  top: unset;
  bottom: -10%;
  left: 25%;
  border-radius: 0 0 1rem 1rem / 0 0 .2rem .2rem;
}

.rolloCerrado{
    width: 5rem;
}

.texto__area{
  width: 0%;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: var(--color2);
  box-shadow: inset 0 0 .4rem .2rem var(--color4);
  transition: 3s ease-out ;
  padding: 0 1rem;
}

.texto {
  font-size: 2rem;
  height: 50%;
  width: 120%;
}

.textoAbierto{
    width: 80%;
}
